.con1{background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/conference-img.png');background-size:cover;height:100vh}
.padg{padding:12px}
.p{color:#5a7184}
.h5{color:#183b56}
.card-marg{background-color:white;margin:20px;height:80px;text-align:center}
